.cart-page .cart-content {
	display: none !important;
}

.cart-page .back-to-shopping {
	margin: 0 0 0 1em;
}

.empty-cart-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    line-height: 6em;
}

.cart-page .cart-cont .cont-wrap:hover .cart-btn {
	background-color: #f5f5f5;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.cart-page .main .title {
	width: 100%;
}

.cart-page .left-col {
	width: 850px;
	margin: 0 30px 0 0;
	float: left;
	position: relative;
}

.cart-page .left-col .title {
	margin: 20px 0 0 0;
	font-size: 16px;
}

.cart-page .right-col {
	width: 320px;
	float: left;
	position: relative;
}

.cart-page .item-list-cont,
.cart-page .may-like-cont,
.cart-page .promo-code-cont,
.cart-page .applied-code-cont,
.cart-page .cart-total-cont {
	width: 100%;
	margin: 15px 0;
	border: 1px solid #ddd;
	float: left;
}

.cart-page .oor-cont {
	width: 100%;
	margin: 15px 0;
	background-color: #fff9f0;
	float: left;
}

.cart-page .cart-total-cont {
	padding: 15px 0;
	width: 100%;
}

.item-list-head {
	width: 100%;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0 15px;
	font-size: 14px;
	line-height: 1.5em;
}

.item-list-head .edit-zip {
	line-height: 1.5em;
	vertical-align: text-top;
	text-decoration: underline;
}

.oor-cont .item-list-head {
	background-color: #fff9f0;
}

.item-list-head p {
	display: inline-block;
}

.item-list-head p span {
	color: #ffa100;
	margin: 0 0 0 5px;
	font-weight: bold;
}

.item-list-head .list-total {
	float: right;
	margin-right: 15px;
	font-weight: bold; 
}

.item-list-cont .wrapper,
.oor-cont .wrapper,
.list-promo-code .wrapper {
	width: 790px !important;
	min-width: 790px !important;
	margin: 30px auto;
}

.list-promo-code .wrapper {
	margin-top: 0;
}

.item-list-cont .item-cont,
.oor-cont .item-cont {
	width: 100%;
	float: left;
	margin: 0 0 10px 0;
	position: relative;
}

.item-list-cont .item-cont .sold-out-mask,
.oor-cont .item-cont .sold-out-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255,255,255,.6);
	z-index: 100;
}

.item-list-cont .item-cont .item-img-cont,
.oor-cont .item-cont .item-img-cont {
	width: 15%;
	float: left;
}

.item-list-cont .item-cont .item-title-cont,
.oor-cont .item-cont .item-title-cont {
	width: 50%;
	float: left;
}

.item-list-cont .item-cont .each-price-cont,
.oor-cont .item-cont .each-price-cont {
	width: 15%;
	float: left;
}

.item-list-cont .item-cont .quantity-cont,
.oor-cont .item-cont .quantity-cont {
	width: 10%;
	float: left;
}

.item-list-cont .item-cont .primary-price-cont,
.oor-cont .item-cont .primary-price-cont {
	width: 10%;
	float: left;
}

.item-list-cont .list-promo-code,
.oor-cont .list-promo-code {
	width: 100%;
	float: left;
}

.item-list-cont .item-cont .del-btn,
.oor-cont .item-cont .del-btn {
	position: absolute;
	bottom: 15px;
	right: 0;
	color: #666;
	display: none;
	z-index: 101;
}

.item-list-cont .item-cont:hover .del-btn,
.oor-cont .item-cont:hover .del-btn {
	display: block;
}

.item-title-cont p{
	width: 85%;
	margin: .5em 0;
}

.item-title-cont .item-title {
	font-size: 14px;
	height: 3em;
	overflow: hidden;
}

.item-title-cont .item-limit {
	line-height: 1em;
	font-weight: bold;
	color: #ffa100;
	position: relative;
	z-index: 100;
}

.item-list-cont .item-cont img,
.oor-cont .item-cont img {
	float: left;
	width: 80px;
}

.each-price-cont .each-price {
	font-size: 14px;
	margin: .5em 0;
}

.each-price-cont .each-price span {
	font-size: 12px;
	color: #666;
}

.quantity-cont select,
.quantity-cont input,
.zipcode-cont input,
.promo-code-cont input {
	width: 70%;
	margin: .2em 0;
	padding: 0 .7em;
	background-color: #fff;
	height: 30px;
	border: 1px solid #ddd;
	font-size: 14px;
	position: relative;
	float: left;
}

.zipcode-cont input {
	width: 100%;
}

.quantity-cont select,
.quantity-cont input {
	width: 80%;
}

.quantity-cont p{
	margin: .5em 0;
	font-size: 14px;
}

.quantity-cont .update-btn {
	width: 70%;
	color: #3b99fc;
	float: left;
}

.primary-price-cont .primary-price {
	text-align: right;
	font-size: 14px;
	margin: .5em 0;
}

.item-list-cont .list-promo-code .wrapper {
	background-color: #fff9ef;
	border: 1px dotted #ffa100;
	padding: 0 .5em;
	position: relative;
}

.item-list-cont .list-promo-code .wrapper * {
	float: right;
	line-height: 2em;
}

.item-list-cont .list-promo-code .wrapper span {
	margin: 0 0 0 40px;
	font-weight: bold;
}

.item-list-cont .list-promo-code .wrapper a {
	margin: 0 0 0 15px;
	color: #666;
	font-size: 11px;
}

.may-like-cont .xs-box {
	width: auto;
	float: left;
	border: none;
	   margin: 10px 15px 0;
}

.cart-total-cont .dl-cont,
.promo-code-cont .wrapper,
.applied-code-cont .wrapper {
	width: 270px;
	min-width: 270px;
	margin: 0 auto;
	position: relative;
}

.promo-code-cont .title {
	font-size: 14px;
	margin: 1em 0;
	float: left;
}

.promo-code-cont .title .fa {
	margin: 0 5px 0 0;
}

.promo-code-cont .use-btn {
	width: 30%;
	margin: .25em 0;
	display: block;
	background-color: #f25950;
	text-align: center;
	float: left;
	color: #fff;
	height: 30px;
	line-height: 30px;
}

.use-btn:hover {
	color: #fff !important;
}

.promo-code-cont .ok-msg {
	margin: 0;
	color: #f25950;
	float: left;
}

.code-input-cont {
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
}

.cart-page .applied-code-cont {
	border: none;
	border-top: 1px solid #ddd;
	padding: 15px 0 0 0;
	margin-top: 0;
}

.applied-code-cont p {
	margin: 0;
}

.applied-code-cont .code-applied {
	font-weight: bold;
}

.applied-code-cont .cancel-code {
	text-decoration: underline;
	float: right;
	margin: 1em 0 0 0;
	color: #666;
}

.applied-code-cont .fa {
	font-size: 32px;
	color: #ffcc33;
	float: left;
	margin: 0 .3em 0 0;
}

.applied-code-cont .code-detail {
	float: left;
	overflow: hidden;
}

.cart-total-cont dl {
	width: 100%;
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 5px 0;
}

.cart-total-cont .total {
	border-top: 1px solid #ddd;
	/*font-weight: bold;*/
}

.cart-total-cont .total dd,
.cart-total-cont .total dt {
	font-size: 16px;
}

.cart-total-cont .total dd {
	color: #f25950;
	width: 7em;
}

.cart-total-cont dt {
	width: 7em;
	font-size: 14px;
	float: left;
	line-height: 2.5em;
}

.cart-total-cont dd {
	width: 9em;
	font-size: 14px;
	float: right;
	text-align: right;
	line-height: 2.5em;
}

.cart-total-cont .checkout-btn {
	width: 100%;
	height: 50px;
	margin: 10px 0 0 0;
	font-size: 16px;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
}